<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AutoML</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>AutoML Service</h1>
	<form action="#" th:action="@{/test}" th:object="${autoMLModel}"
		method="post" enctype="multipart/form-data">
		<p>
			Upload Test File: <input name="file" type="file" /> <input
				type="submit" value="Test" />
		</p>
	</form>

	<table class="table table-hover" th:if="${autoMLModel.hasResult()}">
		<p>Predictions:</p>
		<th:block th:each="instance : ${autoMLModel.result}">
			<tr>
				<td th:text="${instance}">result</td>
			</tr>
		</th:block>
	</table>

</body>
</html>
